<div class="flyntComponent boxed flyntComponent--wysiwyg" is="flynt-block-wysiwyg">
  <div class="container">
    <div class="content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
