<div class="flyntComponent boxed" is="flynt-grid-all-posts">
  <div class="container grid8">
    {{ function('do_shortcode', '[ajax_load_more id="Home" loading_style="infinite fading-blocks" container_type="div" css_classes="grid" post_type="post" posts_per_page="20" images_loaded="true" transition="masonry" masonry_selector=".grid-item" masonry_animation="slide-up" order="ASC" orderby="menu_order"]') }}
  </div>
</div>
