[is='flynt-block-soundcloud-oembed'] {
  @media (max-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: $breakpoint-tablet) {
      grid-column-end: 5;
      grid-column-start: 1;
    }
  }

  .visualAudible__body {
    display: none !important;
  }
}
