<div class="flyntComponent" is="flynt-block-filter">
    <div class="grid">
        <a class="filter filter-artists pillCircle">ARTISTS</a>
        <a class="filter filter-podcasts pillCircle">PODCASTS</a>
        <a class="filter filter-events pillCircle">EVENTS</a>
        <a class="filter filter-articles pillCircle">ARTICLES</a>
    </div>

    <div>
        <p class="grid-item--Artist">test</p>
    </div>
</div>
