[is='flynt-block-event-slider'] {
  .container {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    
    .slider {
      position: relative;
      width: 100%;

      &-item {
        height: 0;
        overflow: hidden;
        padding-bottom: (10/7) * 100%;
        position: relative;
      }

      &-button-container {
        align-items: center;
        background-color: $white;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        // margin-top: -25px;
      }

      &-button {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        flex-flow: row-reverse wrap;
        height: 25px;
        justify-content: center;
        position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        transition: opacity 0.2s ease-out;
        width: 25px;
        z-index: 10;

        @media (min-width: $breakpoint-tablet) {
          &:hover,
          &:focus {
            background-color: transparent;
            border: 1px solid $black;
          }
        }

        &.swiper-button-disabled {
          opacity: 0;
          pointer-events: none;
        }

        .feather {
          color: $color-text;
          height: auto;
          top: 0;
          width: 80%;
        }
      }

      .figure {
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
  
        &-image {
          height: 100%;
          margin: 0;
          object-fit: cover;
          width: 100%;
        }
  
        &-caption {
          background-color: transparent;
          bottom: 0;
          color: $black;
          display: inline-block;
          font-size: 12px;
          height: 15px;
          left: 0;
          padding: 5px 2.5px;
          position: absolute;
          text-align: center;
          width: calc(100% - 5px);
        }
      }
    }
  }
}
