[is='flynt-grid-events-upcoming'] {
  // padding: $spacing-large 0 !important;

  // @media (max-width: $breakpoint-tablet) {
  //   padding: $spacing-large !important;
  // }
  
  .preContent {
    grid-column-end: 8;
    grid-column-start: 2;
    text-align: center;

    @media (max-width: $breakpoint-tablet) {
      grid-column-start: 1;
    }
  }

  .grid {
    grid-column-end: 8;
    grid-column-start: 2;

    @media (max-width: $breakpoint-tablet) {
      grid-column-start: 1;
    }

    &-item {
      text-decoration: none;
    }
  }

  .content {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @media (max-width: $breakpoint-mobile) {
      display: flex;
      flex-flow: column wrap;
    }

    &-image {
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
      grid-column-end: 2;
      grid-column-start: 1;
      position: relative;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    &-inner {
      @include reset-content-margins;
      align-items: flex-start;
      column-gap: $spacing-small;
      display: grid;
      grid-template-columns: 1fr 10fr;
      margin-top: $spacing-large;

      #{$heading-selectors} {
        color: $color-headline;
      }

      &::before {
        content: '↑';
        font-size: 1.7rem;
      }
    }

    &-title {
      margin-bottom: 0;
      text-decoration: none;
    }
  }

  .eventCategory {
    position: absolute;
    right: $spacing-small;
    top: $spacing-small;
  }

  .allPostsLink {
    padding: 0 $spacing-small;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: $breakpoint-mobile) {
      margin-top: $spacing-large;
    }

    .link {
      text-decoration: none;
    }
  }
}
