<a class="backToTop" id="backToTop" href="#theTop">
  <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="35.6484" y="1.25098" width="1" height="50" transform="rotate(-45 35.6484 1.25098)" fill="black"/>
    <rect x="35.6484" y="1.25098" width="1" height="50" transform="rotate(45 35.6484 1.25098)" fill="black"/>
    <rect x="35.8145" y="0.5" width="1" height="63" fill="black"/>
  </svg>
</a>
