<div class="flyntComponent grid8" is="flynt-block-image-post">
  <div class="container">
    <figure class="figure">
      <img class="figure-image lazyload"
        src="{{ image.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
        data-sizes="auto">
      {% if image.caption %}
        <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
