[is='flynt-navigation-footer'] {
  font-size: 0.7rem;
  margin-top: $spacing-xlarge*3;

  ::placeholder {
    color: $white;
    opacity: 1;
  }

  .preContainer {
    padding: $spacing-large*4 0;

    @media (max-width: $breakpoint-tablet) {
      padding: $spacing-large*2 $spacing-large;
    }

    .contactForm {
      grid-column-end: 8;
      grid-column-start: 2;

      @media (max-width: $breakpoint-tablet) {
        grid-column-end: 9;
        grid-column-start: 1;
      }

      .hf-fields-wrap {
        .row {
          column-gap: $spacing-large;
          display: grid;
          grid-template-columns: 3fr 3fr 1fr;
          row-gap: $spacing-large;

          @media (max-width: $breakpoint-mobile) {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }

          input {
            margin-bottom: 0;
          }

          .button--white {
            @media (max-width: $breakpoint-mobile) {
              grid-column-end: 3;
              grid-column-start: 1;
            }
            
            &:hover,
            &:focus {
              background-color: $white;
              color: $green;
            }
          }
        }
      }

      .hf-message {
        margin-top: $spacing-large;
      }
    }
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: $spacing-large;
    justify-content: space-between;
    padding: $spacing-large;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      display: block;
    }

    .left {
      margin: 0;
      width: 50%;

      @media (max-width: $breakpoint-tablet) {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: $spacing-small;
        justify-content: flex-start;
      }

      @media (max-width: $breakpoint-mobile) {
        justify-content: center;
        margin: auto;
      }

      .preText {
        text-align: left;

        @media (max-width: $breakpoint-mobile) {
          text-align: center;
        }
      }

      .logo {
        height: 70px;
        width: auto;

        @media (max-width: $breakpoint-mobile) {
          margin: 10px auto;
        }
      }
    }

    .right {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0;
      width: 50%;

      @media (max-width: $breakpoint-tablet) {
        gap: $spacing-small;
        justify-content: center;
      }

      @media (max-width: $breakpoint-mobile) {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  .content {
    @include reset-content-margins;
    margin: 10px 0 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  @import 'Partials/menu';
}
