[is='flynt-navigation-footer'] {
  font-size: 0.7rem;

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: $spacing-large;
    justify-content: space-between;
    padding: $spacing-large;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      display: block;
    }

    .left {
      margin: 0;
      width: 50%;

      @media (max-width: $breakpoint-tablet) {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        gap: $spacing-small;
        justify-content: flex-start;
      }

      @media (max-width: $breakpoint-mobile) {
        justify-content: center;
        margin: auto;
      }

      .preText {
        text-align: left;

        @media (max-width: $breakpoint-mobile) {
          text-align: center;
        }
      }

      .logo {
        height: 70px;
        width: auto;

        @media (max-width: $breakpoint-mobile) {
          margin: 10px auto;
        }
      }
    }

    .right {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0;
      width: 50%;

      @media (max-width: $breakpoint-tablet) {
        gap: $spacing-small;
        justify-content: center;
      }

      @media (max-width: $breakpoint-mobile) {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  .content {
    @include reset-content-margins;
    margin: 10px 0 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  @import 'Partials/menu';
}
