<div class="flyntComponent {{ shortcodeType }}" {% if backgroundImage %} style="background-image: url('{{ backgroundImage }}'); background-position: center; background-repeat: norepeat; background-size: cover;" {% endif %} is="flynt-block-shortcode">
  <div class="container boxed grid8">
    <div class="content">
      {{ shortcode }}
    </div>
  </div>
</div>
