<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container boxed">
    {% include 'Partials/_header.twig' %}
    <div class="results">
      {% include 'Partials/_results.twig' %}
    </div>
    {# {% if pagination %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %} #}
  </div>
</div>
