/* stylelint-disable indentation */

/* Custom styling for map */

.customMap {
    .content {
        grid-column-end: 9;
        grid-column-start: 1;

        #wpgmza_map_1 {
            height: calc(100vh - 115px) !important;
        }
    }

    .wpgmza_map .wpgmza-inner-stack.left {
        justify-content: flex-start;
    }

    .wpgmza_map .wpgmza-inner-stack > .legacy-listing-adapter {
        @media (max-width: $breakpoint-tablet) {
            max-height: 170px;
        }
    }

    .wpgmza-basic-listing-image-holder {
        display: none;
    }

    .wpgmza_marker_title {
        a {
            text-decoration: none;

            &::after {
                display: none;
            }
        }
    }

    .wpgmza-address {
        font-size: 0.7rem;
    }

    .wpgmza-desc {
        margin-top: $spacing-small;

        span {
            font-size: 0.7rem;
        }
    }

    .wpgmza-link {
        a {
            border-bottom: 1px solid $black;
            font-size: 0.7rem;
            text-decoration: none;
            width: fit-content;

            &::after {
                content: '↑';
                margin-left: 5px;
              }
        }
    }

    .wpgmza-infowindow-link {
        a {
            border-bottom: 1px solid $black;
            font-size: 0.7rem;
            text-decoration: none;
            width: fit-content;

            &::after {
                content: '↑';
                margin-left: 5px;
              }
        }
    }

    .wpgmza-inner-stack.top_right {
        right: 0;

        @media (max-width: $breakpoint-tablet) {
            bottom: 0 !important;
            left: 0 !important;
            top: auto !important;
            transform: none !important;
        }

        select {
            color: $black;
        }
    }

    .gm-style {
        .gm-style-iw-c {
            display: none !important;
        }
    }

    .gm-style .gm-style-iw-tc::after {
        display: none !important;
    }
}
