.searchForm {
  &-field {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;

    @media (max-width: $breakpoint-mobile) {
      flex-flow: row wrap;
    }
  }

  &-input {
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $black;
    direction: rtl;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    min-height: auto;
    padding: 0 $spacing-small;
  }

  &-submit {
    padding: 0;
  }
}
