[is='flynt-grid-articles-latest'] {
  .grid {
    @include reset-list;
    display: flex;
    flex-flow: column;
  }

  .grid-item {
    border-top: 1px solid $black;
    width: 100%;

    &:first-child {
      border-top: 0;
    }

    .title {
      text-transform: uppercase;
    }
  }

  .preContent {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    margin: 0;
    padding: $spacing-small 0;
    text-align: left;
    width: 100%;

    h1 {
      text-transform: uppercase;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-inner {
      @include reset-content-margins;
      column-gap: $spacing-small;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: $spacing-small 0;

      @media (max-width: $breakpoint-mobile) {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        row-gap: $spacing-small/2;
      }

      p {
        margin: 0;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    &-readingTime {
      color: #7b838d;
      font-size: 0.9rem;

      .feather {
        color: #7b838d;
        height: 1rem;
        margin-right: 2px;
        width: 1rem;
      }
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      border-top: 1px solid $color-border;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      .content-readMore {
        padding: 0.9rem 0 1.1rem;

        &::before {
          bottom: 1.1rem;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        padding: 0 30px;
      }
    }
  }

  .allPostsLink {
    padding-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 3rem;
    }
  }
}
